body{
    margin: 0;
    padding: 0;
    background-color: rgb(174, 100, 30);
}
header{
    background-color: rgb(56, 162, 44);
    color:antiquewhite;
    padding: 10px 10px;
    text-align:center;
}

nav{
    background-color: antiquewhite;
    padding: 1px;
    border-bottom: 1px solid #f9e5c2;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
nav ul li{
    margin: 0 25px;
}

main{
    max-width: 800px;
    margin: 20px auto;
    background-color: bisque;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}